extends ../layouts/default
block prepend link
  - var selected = 'Ecommerce'
block title
  title='Genial Info | Android, Android Apps'

block content
    
  section.hero-android
   .container
     .row
       .col-md-6
          h4.animated.aboutus.fadeInLeft.delay-0.5s(style = 'color : white') “We'll introduce Android the way you've never known it.” 

       .col-md-6
         img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/whatsapp-interface.png ' width = '300px' height = '400px') 

  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center  SEO 
            hr.line-orange
          p Search Engine Optimization is like an Pine tree. The time and money invested in optimizing your website will continue to bring you results for as long as you have the site.
          p Today, a good SEO Services strategy is incomplete without a social component, and a good social media strategy contributes to your SEO initiative in Jaipur. Each network has a niche that it's best suited for and some media types work better than others for different markets.
          p Paid search allows you to pay a fee to have your website displayed on SERP when someone types in specific keywords or phrases to the search engine.
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/seo1.jpg' width = '365px' height = '365px') 

  section.mb-5.pt-2
  .containerFullWidth
    .row
      .col-md-8.p-5
          h4.text-center(style = 'color : orange') We offer On-page SEO & Off-page SEO services
            hr.line-orange
          p We are one of the top companies that offer link building services that focus on producing quality links that are informative and attractive to the audiences. Link building is a crucial aspect of the Search Engine Optimisation process that attracts traffic to your business website and enables you to climb up the ranks and achieve top ratings.
          p Our Search Engine Optimisation services will help to promote more growth through more traffic, more leads to high ranking and sales. All of this is possible through our policies and transparency. We offer you a whole range of affordable and effective Search Engine Optimization services in Jaipur. We know our way around Search Engine Optimisation and we have a large clientele, several thousands of top ranking keywords, brands, customer's testimonials certifications and awards that leave you rest-assured to deliver the best results for you. We aim to promote positive content about your company, business, brand or entity while also focusing on generating more traffic. We guide and assist you in creating new content and social media profiles active involvement in all forms of social networking, forums, platforms, blogs and other such areas, and tactfully responding to negative reviews
      .col-md-4
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/seo3.jpg' )        
          
          
          

    section
      .containerFullWidth
        .row
          .col-sm-12.mb-4
            .card.card-body.bg-light.hero-avatar
              .row
               .col-sm-6
                  h4.text-center.mt-5(style = 'color : orange') Why Choose Genial Info SEO Service Jaipur
                    hr.line-orange
                  p.pl-5.pr-5(style = 'color : white') •	We have more than 10 of experience in website development and specialized in developing eCommerce websites, customized web applications, brand identity designs, personal blog & corporate websites and responsive mobile friendly websites.
                  p.pl-5.pr-5(style = 'color : white') •	Our client’s are best known us for our best services. You can check the reviews of the past clients for better understanding of the services. We have earned a good name by delivering quality as well as valuable solutions to a great number of companies and move them over the competition.
                  p.pl-5.pr-5(style = 'color : white') •	We consider every project simply as a unique and important task and delivering it with top class is our top concern. Our team of professional and expert developers uses their expertise in their respective domains. No doubt, your project is precious to us and the team makes sure to create by web development and designer experts, not trainees.
               .col-sm-6
                  h4.text-center.mt-5(style = 'color : orange') We Provide E-Commerce SEO services:
                     hr.line-orange
                  p.pl-5.pr-5(style = 'color : white')  We are one of the best SEO company that offer all business category genuine E-Commerce, Travel, Hospitality, IT, Education, Manufacturer Search Engine Optimisation services for all types of businesses, E-Commerce stores, and establishments. 
                  p.pl-5.pr-5(style = 'color : white')  We take pride in being one of the top SEO companies to have achieved top rankings on Google search engine for several businesses in the country. Our services come in separate package plans that are specially designed to deliver an immediate boost in driving online traffic and converting them to online sales for your business. We help you to identify the critical and Co issues that are preventing your websites from attracting traffic and we help to solve them.

    section
      .containerFullWidth.animated.fadeInLeft.delay-0.5s
        .row
          .col-sm-12
            .card.card-body.bg-light         
              h2.text-center.mt-5 Services
                hr.line-orange
              .row.justify-content-md-center
                .col.col-lg-6
                  p.mb-5 "Knowledge is power," and because of mobile technology, knowledge is available to more people throughout the world than ever before. Smartphone users are a significant and fast growing segment of Internet users so we help you build a business and profit from mobile by mobile friendly website and business android apps.According to industry standards by end of 2013, 500 million Android devices will be activated and will keep increasing by 1 million every day. An Android application is a mobile application developed to use on devices powered by Google's Android platform.
                  
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') STATIC APPS  
                  p Develop professional introductionary apps to show your profile
                .col.col-lg-3
                  h4(style = 'color : orange') DYNAMIC APPS    
                  p dynamically generated forms, feeding, reports on their android devices with customise user interface development
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') GOOGLE MAPS   
                  p Enrich your apps with google map for instant geolocation
                .col.col-lg-3
                 
                  

               


