extends ../layouts/default
block prepend link
  - var selected = 'Ecommerce'
block title
  title='Genial Info | Android, Android Apps'

block content
    
  section.hero-android
   .container
     .row
       .col-md-8.col-12
          h4.animated.aboutus.fadeInLeft.delay-0.5s(style = 'color : white') “We'll introduce Android the way you've never known it.” 

       .col-md-4.col-12
         img.img-responsive.center-block.animated.fadeIn.delay-1s(src='/images/android1.png ' width = '200px' height = '200px') 

  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center  Android Apps 
            hr.line-orange
          p Genial Info is a well-known name in the field of Android Application development. We are working with a motto of conceptualization, designing, creation, and testing according to the client’s requirement. We build easy-to-use apps that will push your business to a whole new level.       
          p According to industry standards by end of 2013, 500 million Android devices will be activated and will keep increasing by 1 million every day. An Android application is a mobile application developed to use on devices powered by Google's Android platform.
          p Mobile applications have transformed the digital era and have made life and businesses much easier by changing your mobile phone into a powerhouse The development of mobile technology is not only making our lives comfortable but also helping us save valuable time.
          p p Genial Info is a well-known name in the field of Android Application development. We are working with a motto of conceptualization, designing, creation, and testing according to the client’s requirement. We build easy-to-use apps that will push your business to a whole new level.       
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/android2.png') 

  section.mb-5.pt-2
  .containerFullWidth
    .row
      .col-md-8.p-5
          h4.text-center(style = 'color : orange') Get Started with Us for the Best Android Application Development Services 
            hr.line-orange
          p Android transformed as one of the most sought-after operating systems with a whopping 88% market share in global smartphone sales. Unlike other operating systems like iOS, Android is a free, open-source system. It means anybody can obtain the license from Google to use and contribute towards its development. Android not only supports smartphone, but also used in smartwatches, smart TVs, and tablets. Android apps are developed using the Software Development Kit (SDK) and sometimes in Java programming language. As a matter of fact, Android applications undergo a tough security testing before being launched on Google Play Store.  
      .col-md-4
          img.img-responsive.port-image.p-5.animated.fadeIn.delay-1s(src='/images/android3.png')        
          
          
          

    section
      .containerFullWidth
        .row
          .col-sm-12.col-12  
            .bg-light.hero-avatar(style = "padding-top : 1vh")
              .row
               .col-sm-9.col-12
                  h4.text-center.mt-5(style = 'color : orange') Why Choose Genial Info
                    hr.line-orange
                  p.pl-5.pr-5(style = 'color : white') 	We at Genial Info are pioneers in building avant-garde apps for mobile platforms like Android and iOS. With vast experience in android application development, we provide high-quality application development services at the best market price. We are an Android Application Development company with hands-on experience in building high octane applications. Besides Android, we also have high competency in iOS App Development and we also provide app and channel development services for the popular streaming media players such as Roku, Apple TV, and Amazon Fire TV.
             

    section
      .containerFullWidth.animated.fadeInLeft.delay-0.5s
        .row
          .col-sm-12
            .card.card-body.bg-light         
              h2.text-center.mt-5 Services
                hr.line-orange
              .row.justify-content-md-center
                .col.col-lg-6
                  p.mb-5 "Knowledge is power," and because of mobile technology, knowledge is available to more people throughout the world than ever before. Smartphone users are a significant and fast growing segment of Internet users so we help you build a business and profit from mobile by mobile friendly website and business android apps.According to industry standards by end of 2013, 500 million Android devices will be activated and will keep increasing by 1 million every day. An Android application is a mobile application developed to use on devices powered by Google's Android platform.
                  
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') STATIC APPS  
                  p Develop professional introductionary apps to show your profile
                .col.col-lg-3
                  h4(style = 'color : orange') DYNAMIC APPS    
                  p dynamically generated forms, feeding, reports on their android devices with customise user interface development
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') GOOGLE MAPS   
                  p Enrich your apps with google map for instant geolocation
                .col.col-lg-3
                 
                  

               


