extends ../layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Genial Info | CreativeGraphics, Graphics'

block content
    
  section.hero-graphics
   .container
     .row
       .col-md-12
          h2.aboutus.animated.fadeInLeft.delay-0.5s Graphics Design Services
          p.text-white.graphics.animated.fadeInLeft.delay-0.5s  Logo Design</br>Banner Design</br>Print Ads Design</br>NEWSLETTER DESIGNING</br>PRINT ADS DESIGN  
  
  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center  GRAPHIC DESIGN SERVICES
            hr.line-orange
          p We Are Creative Graphic Design and provide Graphic Design Services India. Creativity either comes by born and by experience, design process commences with a detailed study of your business & target audience. Blessed with the finest team of creative web designers, we ensure that your website increases your small business up to ten folds. Our team comprises of experienced professionals having expertise in blending knowledge and innovation and delivering quality business website design, Corporate Website Design, template/layout, banners, logos, image, graphics and flash.
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/head.jpg' width = '365px' height = '365px') 


    section
      .containerFullWidth
        .row
          .col-sm-12
            .card.card-body.bg-light         
              h2.text-center.mt-5 Services
                hr.line-orange
              .row.justify-content-md-center
                .col.col-lg-6
                  p.mb-5 Genial Info in the past decade has eminently made numerous breakthroughs in IT development and digital marketing services. Servicing hundreds of existing clients globally is what we take  immense pride in! Our achievements make us the first preference of our customers.
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') LANDING PAGE DESIGNING
                  p Convert your visitors coming from marketing campaigns to conversion-centred design
                
                .col.col-lg-3
                  h4(style = 'color : orange') PORTFOLIO DESIGNING 
                  p Gathering, interpreting & compiling your all A to Z in a glance
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') PRINT ADS DESIGN 
                  p Convert your vision inform of Flyers, Posters, Cards and much
                .col.col-lg-3
                  h4(style = 'color : orange') EMAILERS DESIGN
                  p An affordable and successful boostup for any business
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') Logo Design
                  p Unique and enterprising logo to deliver your vision into reality
                .col.col-lg-3
                  h4(style = 'color : orange') NEWSLETTER DESIGNING 
                  p Our applications are much flexible to suit your varying needs
              


