extends ../layouts/default
block prepend link
  - var selected = 'Ecommerce'
block title
  title='Genial Info | Ecommerce, Services'

block content
    
  section.hero-ecommerce
   .container
     .row
       .col-md-12
          h2.aboutus.animated.fadeInLeft.delay-0.5s Ecommerce Services
          h4.text-white.graphics.animated.fadeInLeft.delay-0.5s  Open Cart Ecommerce Sites </br>Wordpress Ecommerce Development</br>Payment Gateway Integration </br>Customized Node/PHP Development

  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center  Ecommerce Solutions </br>TAILORMADE & CUSTOMIZED

            hr.line-orange
          p Genial Info provides you an excellent tailormade & customizable ecommerce solutions for deployment and development of database-driven storefronts which are not only rich in designs but customized for the users to give a hassle free and enjoyable buying experience online.
          p No words can generate trust to anyone, trust on our work and look out our portfolio for better understanding about what we deliver.
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/shopping.jpg' width = '365px' height = '365px') 


    section
      .containerFullWidth.animated.fadeInLeft.delay-0.5s
        .row
          .col-sm-12
            .card.card-body.bg-light         
              h2.text-center.mt-5 Services
                hr.line-orange
              .row.justify-content-md-center
                .col.col-lg-6
                  p.mb-5 Genial Info in the past decade has eminently made numerous breakthroughs in IT development and digital marketing services. Servicing hundreds of existing clients globally is what we take  immense pride in! Our achievements make us the first preference of our customers.
              .row.justify-content-md-center.mb-5
                .col.col-lg-3.col-12
                  h4(style = 'color : orange') Open Cart Ecommerce Development 
                  p Simply install, add products and start accepting orders...                
                .col.col-lg-3.col-12
                  h4(style = 'color : orange') Payment Gateway Integration  
                  p Quick, Easy & completely hassle free for handling payment by customers.
              .row.justify-content-md-center.mb-5
                .col.col-lg-3.col-12
                  h4(style = 'color : orange') Customized Node/PHP Development 
                  p Our applications are much flexible to suit your varying needs
                .col.col-lg-3.col-12
                  h4(style = 'color : orange') Wordpress Ecommerce Development
                  p Powerful, flexible features that address the full range of eCommerce needs.
               


