extends ../layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Genial Info | Enterprise, portal'

block content
    
  section.hero-enterprise
   .container
     .row
       .col-md-12
          h2.aboutus.animated.fadeInLeft.delay-0.5s Enterprise Portals 
          p.text-white.graphics.animated.fadeInLeft.delay-0.5s  REAL ESTATE PORTAL   </br>MATRIMONIAL PORTAL  </br>COMMUNITY PORTAL 
 

  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center ENTERPRISE PORTALS
            hr.line-orange
          p A web portal can be defined as a website used to enter the Internet for delivering a variety of information, tools and applications in a unified way. We deliver creative portal design services and solutions specific to client's demands and that complement our customer's business objectives and ensure a better reach-out. Our team provides full cycle portal development services. Our process starts with an in-depth analysis of user requirements and what they’re trying to accomplish.
          p People gets to the Network portals to discuss business, share ideas, develops relationship and many more.
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/mobile.jpg' width = '365px' height = '365px') 


    section
      .containerFullWidth
        .row
          .col-sm-12
            .card.card-body.bg-light         
              h2.text-center.mt-5 Services
                hr.line-orange
              .row.justify-content-md-center
                .col.col-lg-6
                  p.mb-5 Today requirements of social, realestate, matrimonial and other common portals developed in very nominal price slabs, if any customised modification required then we will implement in better pricings.
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') REAL ESTATE PORTAL  
                  p Provide copycon of 99acres.com, makaan.com, agicbricks.com etc
                .col.col-lg-3
                  h4(style = 'color : orange') MATRIMONIAL PORTAL  
                  p Provide copycon of BharatMatrimony.com, Community Matrimony
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') COMMUNITY PORTAL    
                  p Building online business, social, alumni communities for online interaction.
                .col.col-lg-3

               
    
     



        





                              


