extends ../layouts/default
block prepend link
  - var selected = 'Ecommerce'
block title
  title='Genial Info | IOS, IOS Apps'

block content
    
  section.hero-ios
   .container
     .row
       .col-md-8.col-12
          h4.animated.aboutus.fadeInLeft.delay-0.5s(style = 'color : white') “We’re just about to experience change. Again!”

       .col-md-4.col-12
         img.img-responsive.center-block.animated.fadeIn.delay-1s(src='/images/ios1.png ' width = '200px' height = '200px') 

  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center  IOS Apps 
            hr.line-orange
          p iOS has completely revived the mobile industry, and captivated iOS device users worldwide. iOS is intelligently built to meet user’s requirements and draw their interest. It is great in terms of features, high-end technology and user experience. 
          p iOS is finely detailed system created for iPhones. iOS gives you liberty to use WiFi hotspot and iCloud on your iPad without configuration. It enhances productivity, improved data sharing and secure apps with each new release. You get charismatic features, and can increase the reach of the app content with the help of over 4,000 new APIs.
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/ios2.png') 

  section.mb-5
  .containerFullWidth
    .row
      .col-md-8.p-5
          h4(style = 'color : orange') Why do you Need to Upgrade?
            hr.line-orange
          ul.ml-5
            li Improved security for apps and devices
            li Increased productivity
            li Apps and gaming updates
            li Internet Integration
            li Tool to optimize enterprise management
            li Enhanced media
            li Smoother multitasking
            li Fascinating text
            li Spotlight, Interactive Notifications

      .col-md-4
          img.img-responsive.port-image.p-5.animated.fadeIn.delay-1s(src='/images/ios3.png')        
          
          
          

    section
      .containerFullWidth
        .row
          .col-sm-12.col-12  
            .bg-light.hero-avatar(style = "padding-top : 1vh")
              .row
               .col-sm-6.col-12
                h4.text-center.mt-5(style = 'color : orange ;  list-style-type : none' ) Our Business Drivers
                  hr.line-orange
                  ul(style = 'color : white ; font-size : 18px ; ').ios
                    li.mt-1 iOS apps with proper UX design
                    li.mt-1 Scalable and high traffic apps
                    li.mt-1 Apps to make better use of the native features
                    li.mt-1 UX, UI, and design reviews
                    li.mt-1 A review of your app's code
               .col-sm-6.col-12
                  h4.text-center.mt-5(style = 'color : orange') Why Choose Genial Info
                    hr.line-orange
                  p.pl-5.pr-5(style = 'color : white') 	Our iOS based mobile application developers guide you and walk you through the fundamentals to better understand latest OS of Apple. We believe in providing quality solution to our customers, and our developers give you all the assistance you need throughout the project.
                
             
