extends ../layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Genial Info | Mobile App, Apps'

block content
    
  section.hero-mobile
   .container
     .row
       .col-md-12
          h2.aboutus.animated.fadeInLeft.delay-0.5s Mobile Application Development
          p.text-white.graphics.animated.fadeInLeft.delay-0.5s  MOBILE WEBSITE  </br>IPAD WEBSITE </br>MOBILE APPLICATION 

  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center Mobile Application Development
            hr.line-orange
          p Mobile platform is now emerging as the best tool for business owners to showcase, market and sell their products as well, while also interacting with their customers and engaging them enough to encourage them to repeatedly visit and purchase items from the
          p Regular Websites do not render properly on mobile devices and hence, do not end up giving a good overall user experience to mobile visitors. Creating a mobile Website helps you to reach and satisfy a lot more visitors, thereby increasing the chances of converting them into your customers.
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/mobile.jpg' width = '365px' height = '365px') 


    section
      .containerFullWidth
        .row
          .col-sm-12
            .card.card-body.bg-light         
              h2.text-center.mt-5 Services
                hr.line-orange
              .row.justify-content-md-center
                .col.col-lg-6
                  p.mb-5 Mobile websites developed by our team are compatible with all major mobile and smartphone platforms, including iPhone (IOS), Android, BlackBerry, and Windows.
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') MOBILE WEBSITE 
                  p Delivering high quality, easy to use, cost efficient mobile websites
                .col.col-lg-3
                  h4(style = 'color : orange') IPAD WEBSITE  
                  p Get in touch to Ipad Users increasing day by day
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') MOBILE APPLICATION    
                  p Ready-to-run, customizable apps for your business on mobile
                .col.col-lg-3

               
    
     



        





                              


