extends ../layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Genial Info | CreativeGraphics, Graphics'

block content
    
  section.hero-web
   .container
     .row
       .col-md-12
          h2.aboutus.animated.fadeInLeft.delay-0.5s Web Application
          p.text-white.graphics.animated.fadeInLeft.delay-0.5s  STATIC WEBSITE DEVELOPMENT </br>PARTIAL / FULLY DYNAMIC WEBSITE</br>PERSONAL WEBSITE</br>BLOG DEVELOPMENT </br>CATALOG WEBSITE  

  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center Website Development
            hr.line-orange
          p A website is your first impression on web which must be full of creativity and functionality that can boost up the online presence of your business. An attractive and effective website design acts as a platform by providing an excellent gateway to showcase your business portfolio. To assure a good looking, usable website for every viewer your site needs to be responsive. We develop responsive design code to perfect view from moniters, TFTs, Laptops, Tablets and even on mobiles.
          p The covers technologies like HTML5, CSS3, JSP, Ajax, Flash, PHP, .Net, XML, XHTML, etc to deliver fully customized User Friendly Websites to help your business succeed.
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/code.jpg' width = '365px' height = '365px') 


    section
      .containerFullWidth
        .row
          .col-sm-12
            .card.card-body.bg-light         
              h2.text-center.mt-5 Services
                hr.line-orange
              .row.justify-content-md-center
                .col.col-lg-6
                  p.mb-5 A combination of creativity & Technology No matter, you need web development services or it is a personalized web development project, we are proficient of tackling it in the finest way. Give with the most expert and advanced resources, we bring the most acceptable effects for your online trade. We confirm that you own a web portal preciously the same you were searching for. Compusys e Solutions is a renowned Professional Website Development Company in India, busy in providing best web development services.
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') STATIC WEBSITE DEVELOPMENT
                  p Your business card on web for small size business
                .col.col-lg-3
                  h4(style = 'color : orange') PARTIAL / FULLY DYNAMIC WEBSITE 
                  p Get control of daily routinue updates at your end, photos, news, events etc
              .row.justify-content-md-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') CATALOG WEBSITE   
                  p Manage and show your products to promote your business online
                .col.col-lg-3
                  h4(style = 'color : orange') BLOG DEVELOPMENT
                  p Impressing your friends, sharing ideas, and reaching people all over the world starts with a BLOG
              .row.justify-content-sm-center
                .col.col-lg-3.mb-5
                  h4(style = 'color : orange') PERSONAL WEBSITE 
                  p Your personal space where you can interact and be in contact with friends and family
                .col.col-lg-3.mb-5
    
     
      section
        .containerFullWidth
          .row
            .col-sm-7.mb-4
              .card.card-body.bg-light.hero-avatar
                h4.text-center.mt-5(style = 'color : orange') Why Choose Compusys Genial Info? 
                p.pl-5.pr-5(style = 'color : white') •	We have more than 10 of experience in website development and specialized in developing eCommerce websites, customized web applications, brand identity designs, personal blog & corporate websites and responsive mobile friendly websites.
                p.pl-5.pr-5(style = 'color : white') •	Our client’s are best known us for our best services. You can check the reviews of the past clients for better understanding of the services. We have earned a good name by delivering quality as well as valuable solutions to a great number of companies and move them over the competition.
                p.pl-5.pr-5(style = 'color : white') •	We consider every project simply as a unique and important task and delivering it with top class is our top concern. Our team of professional and expert developers uses their expertise in their respective domains. No doubt, your project is precious to us and the team makes sure to create by web development and designer experts, not trainees.
            .col-sm-5
              h4.text-center.mt-5(style = 'color : orange') Best Website Development Company India
              p Genial Info, as website development in Jaipur, we’re one-stop destination for any sort of web development services. Due to the information technology and constant technological advancements, it is quite significant that your online presence gives an amazing first impression. Give a chance to website Development Company in India to do justice with your assigned project, and get ready to catch the opportunities that will surely arise from a result oriented and valuable website.
              p Contact us to find the best website development in Jaipur.




        





                              


