<nav class="navbar navbar-expand-lg fixed-top nav  bg-secondary" id="navbar">
  <div class="container">
  <a class="navbar-brand" href="/">
  
  <img class="main-logo" src="/images/logo.png "/ >
  </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 

  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto mt-2  ml-5 mt-lg-0">
       <li class="nav-item dropdown "  >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown" style = 'line-height: 37px; font-weight : bold ; '>
          <a class="dropdown-item"  href="/about.html">Company Overview</a>
          <a class="dropdown-item" href="#">Our Capabilities</a>
          <a class="dropdown-item" href="#">Client</a>
          
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
      


      <div class = "row">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="CreativeGraphics.html"><b>Creative Graphic Design</b></a>
            <a class="dropdown-item" href="WebApp.html"><b>Web Application Development</b></a>
            <a class="dropdown-item" href="Ecommerce.html"><b>Ecommerce Solution</b></a>
            <a class="dropdown-item" href="#"><b>Mobile Website & Application Development</b></a>
            <a class="dropdown-item" href="/AndroidApp.html"><b>SEO Company Jaipur</b></a>
            <a class="dropdown-item" href="/ReactApp.html"><b>Enterprise Portals</b></a>
            <a class="dropdown-item" href="#"><b>Android Apps</b></a>
            <a class="dropdown-item" href="/MEANStack.html"><b>IOS Apps</b></a> 
           
      </li>
    </div>

    
    <div class = "row">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="technology" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technology</a>
        <div class="dropdown-menu" aria-labelledby="technology">
          <a class="dropdown-item" href="#"><b>Frameworks</b></a>
          <a class="dropdown-item" href="/AndroidApp.html">Angular JS </a>
          <a class="dropdown-item" href="/ReactApp.html">Node JS</a>
          <a class="dropdown-item" href="/ReactApp.html">Express</a>

          <a class="dropdown-item" href="#"><b>Databases</b></a>
          <a class="dropdown-item" href="/NodeJS.html">SQL</a>
          <a class="dropdown-item" href="/AngularJS.html">Mongo DB</a>
          <a class="dropdown-item" href="/MEANStack.html"></a> 
      </li>
    </div>
    <li style = 'margin-left: 50px'>
    <button type="button" class="btn btn-success">Contact US</button>
    </li>

    </ul>
    
  </div>
</nav>


