extends layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Genial Info | ABOUT, about us'

block content

  //About Main
  section.hero
    .container
     .row
      .col-md-10
        p.text-white.aboutus.animated.fadeInLeft.delay-0.5s  We WORK on your IDEAS </br>to make your IDEAS WORK
  
  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-7
          h2.text-center About Us
            hr.line-orange
          p Genial Info  is a decade old AWARD winning IT Software Solution Engineering Company with its foundation laid in the year 2018. Initially, we started our path with digital marketing services which later expanded to offering world class Software Solutions to organizations across the globe.
          p Today, our technology team comprises of more than 300+ professionals and experts in their own niches of Mobility, Web development, Cloud services, Microsoft and Open Source Technology based Software Solutions, ERP, Content Management, and CRM Solutions including Salesforce CRM to AppExchange. Apart from this, we have a 100+ strong team of Digital Marketing and PPC experts who define and redefine process to offer best in class services to our customers.
          p Our mission is to be an example of radical honesty for our clients during and after the entire project duration.
          hr.line
        .col-md-5
          img.img-responsive.center-block.port-image.animated.fadeIn.delay-1s(src='/images/about-us-2.png' width = '365px' height = '365px')

    section.team
       .row
         .col-md-7
            p.text-white.aboutus.animated.fadeInLeft.delay-0.5s   What we do ?
            hr.line 
            p.text-white.animated.fadeInLeft.delay-0.5s Leveraging notable technologies and following the organization’s best practices, we ensure the successful completion of projects at global level. We transform the startups and empower them into huge enterprises by end-to-end assistance in accomplishment of their vision. Our team of 300+ creative professionals has managed to bag no less than 660+ projects and gaining the trust of hundreds of clients worldwide.
            p.text-white.animated.fadeInLeft.delay-0.5s  We cater to the following industry verticals –
            .row
              .col-md-4
                i.fa.fa-shopping-cart.fa-5x.icon.animated.fadeIn.delay-1s
                p.text-white E-commerce
              .col-md-4
                i.fa.fa-medkit.fa-5x.icon.animated.fadeIn.delay-2s
                p.text-white Health-care
              .col-md-4
                i.fa.fa-graduation-cap.fa-5x.icon.animated.fadeIn.delay-3s 
                p.text-white Education
              .col-md-4
                i.fa.fa-money.fa-5x.icon.animated.fadeIn.delay-4s 
                p.text-white Financial Services
              .col-md-4
                i.fa.fa-industry.fa-5x.icon.animated.fadeIn.delay-5s 
                p.text-white Manufacturing
              .col-md-4
                i.fa.fa-rss.fa-5x.icon.animated.fadeIn.delay-5s 
                p.text-white Media
      
    section
      .containerFullWidth
        .row
          .col-sm-12
            .card.card-body.bg-light         
              h2.text-center.mt-5 Why Choose Us
                hr.line-orange
              .row.justify-content-md-center
                .col.col-lg-6
                  p Genial Info in the past decade has eminently made numerous breakthroughs in IT development and digital marketing services. Servicing hundreds of existing clients globally is what we take  immense pride in! Our achievements make us the first preference of our customers.
              .row.justify-content-md-center
                .col.col-lg-3
                  img.img-responsive.center.animated.fadeIn.delay-1s(src='/images/f1.png' )
                  p We assist our 400+ clients with an end to end competence in strategizing and successfully implementing the solutions
                .col.col-lg-3
                  img.img-responsive.center.animated.fadeIn.delay-1s(src='/images/f-2.png' )
                  p Our team is proficient in mobile app development, web application development and software product engineering realms
              .row.justify-content-md-center
                .col.col-lg-3
                  img.img-responsive.center.animated.fadeIn.delay-1s(src='/images/f-3.png' )
                  p We have experts in Cloud, Digital Marketing, PPC, Salesforce, and Content Management System
                .col.col-lg-3
                  img.img-responsive.center.animated.fadeIn.delay-1s(src='/images/f-4.png' )
                  p We have carved out-of-the-box applications and powerful customized solutions

      section.mt-5.mb-5
        .container
          .col-sm-12
            h2.text-center Key Drivers Of Our Company
            hr.line-orange
            .row
              .col.col-lg-12
                p With over a decade of valuable and varied industry experience, we know how to spot a good egg and we’re incredibly proud of the people who make our business what it is today.
                     .row
                      .col-lg-3.animated.fadeInLeft.delay-1s
                        img.circle-image(src = '/images/amit.png')
                        p.containerName Amit Jain
                        h6(style = "font-weight : bolder ;   line-height:1px") Cheif Technical Officer(CTO)
                      .col-lg-3

