extends layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Genial Info | ABOUT, about us'

block content

  //About Main
  section.hero
    .container
     .row
      col-md-7
       p.text-white.aboutus We WORK on your IDEAS </br>to make your IDEAS WORK
    