extends layouts/default
block prepend link
  - var selected = 'HOME'
block title
  title='Genial Info | Home'
block content

  // Company List  
  section
    .companylistcontainer
     .row.text-white.d-relative.mb-5
      .col-sm-2
       img(src='https://www.wildnettechnologies.com/wp-content/uploads/2018/06/Air_India_Express_wildnet-cleint-gray-2.png' width = '70px' height = '50px')
      .col-sm-2
        img(src='https://www.wildnettechnologies.com/wp-content/uploads/2018/05/wildnet-home-24-1.png' width = '80px' height = '50px')
      .col-sm-2
        img(src='https://www.wildnettechnologies.com/wp-content/uploads/2018/11/adani_transparent.png' width = '80px' height = '50px')


  // Services 
  section
   p.numberText  We begin to serve you before you know it
   p.numberText(style = 'color : orange')  Our Solution to your Imaginations
  .container-fluid
  .row.port-page
    .gallery_product.col-lg-4.col-md-4.col-sm-4.col-xs-6.filter.hdpe.zoom
      img.img-responsive.center-block.port-image(src='/images/mobile-phone.jpg' width = '365px' height = '365px')
      .image-text
        h1| Mobile App
    .gallery_product.col-lg-4.col-md-4.col-sm-4.col-xs-6.filter.sprinkle.zoom
      img.img-responsive.center-block.port-image(src='/images/earth.jpg' width = '365px' height = '365px')
      .image-text
        h1| Web App
    .gallery_product.col-lg-4.col-md-4.col-sm-4.col-xs-6.filter.hdpe.zoom
      img.img-responsive.center-block.port-image(src='/images/seo.jpg' width = '365px' height = '365px')
      .image-text
        h1| SEO
    .gallery_product.col-lg-4.col-md-4.col-sm-4.col-xs-6.filter.irrigation.zoom
      img.img-responsive.center-block.port-image(src='/images/website.jpg' width = '365px' height = '365px')
      .image-text
        h1| Website Development
    .gallery_product.col-lg-4.col-md-4.col-sm-4.col-xs-6.filter.spray.zoom
      img.img-responsive.center-block.port-image(src='http://fakeimg.pl/365x365/')
    .gallery_product.col-lg-4.col-md-4.col-sm-4.col-xs-6.filter.irrigation.zoom
      img.img-responsive.center-block.port-image(src='http://fakeimg.pl/365x365/')


  // Counting             
  section.counting
    .containerproject         
     .typewriter
       p.numberText  it is the NUMBER that keep us motivated
       .row.justify-content-md-center.px-5.t-5.number
          span.numscroller.col.col-lg-2(data-min='1', data-max='10', data-delay='1', data-increment='1')
          span.numscroller.col.col-lg-2(data-min='1', data-max='10', data-delay='1', data-increment='1')
          span.numscroller.col.col-lg-2(data-min='1', data-max='10', data-delay='1', data-increment='1')
          span.col.col-lg-2(style='font-size : 4px ; color : white' )
           svg(height='80', viewbox='0 50 200 200' , )
            path(fill='none', stroke='#333333', stroke-width='5', d='M100,100 \
             C200,0 200,200 100,100\
             C0,0 0,200 100,100z')
       .row.justify-content-md-center.px-5.t-5.text
         p.col.col-lg-2 Technocrats 
         p.col.col-lg-2 Projects
         p.col.col-lg-2 Clients
         p.col.col-lg-2 Happy Moments
  

  

  // Recent Blogs 
  section
  .containerblog
    h1.text-center(style = "color : orange")|Recent Blogs
    h1.text-center(style = "color : orange")|------------
     hr(size = '30')
    .row
      .col-sm-4
       .card
        img.card-img-top(src='http://fakeimg.pl/365x365/', alt='Card image cap')
        .card-body
          h5.card-title Special title treatment
          p.card-text With supporting text below as a natural lead-in to additional content.
          a.btn.btn-primary(href='#') Go somewhere
      .col-sm-4
         .card
          img.card-img-top(src='http://fakeimg.pl/365x365/', alt='Card image cap')
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere
      .col-sm-4
         .card
          img.card-img-top(src='http://fakeimg.pl/365x365/', alt='Card image cap')
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere
 


  // Values block
  section
      .row
        .col-md-6.p-5
          h3 Let’s Talk Something To Solve Something.
          hr(size = '15')
          p| Looking for a quotation or need any technology advice, Let’s talk.
          .p-5
          img(src = 'https://www.wildnettechnologies.com/wp-content/uploads/2018/07/wildnet-home-2.png')
          | +91 7877361402
        .col-md-5.p-5.containercontact
           h3 Write us
           .form-group
            label(for='usr') Name:
            input#usr.form-control(type='text')
           .form-group
            label(for='last name') Last Name:
            input#pwd.form-control(type='text')
           .form-group
            label(for='contact number') Contact Number:
            input#pwd.form-control(type='text')         
           .form-group
            label(for='email Address') Email Address:
            input#pwd.form-control(type='text')        
           .form-group
            label(for='Project Description') Project Description:
            textarea#exampleFormControlTextarea1.form-control.rounded-0(rows='2')

           



      