extends layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Genial Info | ABOUT, about us'

block content
  main#main
    section.technology-homepage.d-none.d-sm-block
      .banner-text
        h1.heading(style = 'padding-top : 200px ')| Technologies

  section#html5
    .container-fluid
      .jumbotron
        h2.text-center HTML 5 App Development
      .row
        .col-xl-3.col-md-4.col-12
          img.img-thumbnail(src = '/images/html.png' )
        .col-xl-8.col-md-8.col-12
          p.lead Genial Info is a prominent Web & Mobile Application Development company that specializes in rendering innovative and out-of-box apps that harness the potential of cutting-edge HTML5 technology. HTML5 for mobile apps and mobile web pages improves the user experience from a development standpoint. . With the ability to offer users a unique and interactive experience, HTML5 has become the preferred framework for companies looking to enhance their online presence in a mobile device-driven world.
          p.lead Our skilled technical panel develops an application that meets your specific user requirements, business, and vertical needs. We offer a proven, highly flexible engagement model that starts with a comprehensive evaluation of your business and IT requirements. We ensure time-bound and cost-effective delivery of HTML5 development solutions that perfectly meets your goals and deadlines.
          
          .col-xl-12.col-12 
            h2 Our Business Drivers
            ul.lead
              li Robust services
              li Richer style
              li Innovative development features
              li Improved markup
              li Application development
              li Prototyping
              li Opulent user interface design
              li Cloud integration
              
          h2 Why we? 
          p.lead We build scalable and feature-rich, business-centric mobile applications while keeping in mind the target user-group. . We render innovative and highly interactive HTML5 mobile applications for various industry verticals encompassing qualitative solutions with rich features, elevated performance, and latest technology trends that complements your business insights.
          p.lead All HTML5-based solutions built by Oodles are secure, sustainable, and constructed in such a way that they can be easily maintained and scaled as needed. Furthermore, HTML5 solutions created by our front-end developers are cross-platform capable, able to function seamlessly on and across any device or software platform.
          p.lead Whether you need to hire an HTML5 developer to augment your current team, contract subject matter experts to help with a certain aspect of your HTML5 project such as business analysis, custom UX/UI design, code development, project management and/or quality assurance, Or looking for a complete end-to-end or HTML5 development solution to be delivered, we can meet your needs !! 
  


  // Services
  section#angular
  .container-fluid
    .jumbotron
      h2.text-center AngularJS Development
    .row
      .col-xl-3.col-md-4.col-12
        img.img-thumbnail(src = '/images/angular.png')
      .col-xl-8.col-md-8.col-12
        p.lead Angular JS developers at Genial Info have developed a number of simple yet scalable applications with decent features catering to difficult business requirements. 
          | Access to latest tools and technologies combined with industry experience in AngularJS allows us to develop cost effective mobile applications.
        p.lead Unlike jQuery, AngularJS is not a library. Instead it is an open source JavaScript framework developed and maintained by Google. The main use of AngularJS is to enhance browser-based applications with model-view-controller (MVC) capability; in simple words - it is designed to make your front-end web development and testing as easy as possible. 
        p.lead AngularJS has some brilliant features that helps developer develop build a compelling website. Few of the features are Two Way Data Binding, HTML Template, Directives, Dependency Injection and Testing. 
        p.lead This is absolutely the thing for front-end development. You don't have to use any other plugins or frameworks to build a data-driven web application. 
        p.lead With the help of AngularJS you can have complete control over DOM elements. We develop web and mobile applications with the help of Angular JS, that are easy to test and simple to maintain, and can also be easily extended to incorporate additional features. We use easily readable coding standards that result in expressive web app environments within little time.
        .col-xl-12.col-12 
          h2 Our Business Drivers
          ul.lead
            li Real-time applications
            li RESTful apps
            li UX for software
            li Software UI
            li API integrations
            li Data-rich applications
        h2 Why we?
        p.lead When you hire us, you get an extremely impressive and dynamic platform for your website as well as apps by our professional and diligent AngularJS developers. You enjoy exposure to the complete process of making an incredibly high-tech design for the website. Oodles Technologies provides all-in-one solution under one roof, moreover, you can outsource our developers at very affordable prices for leveraging our Angular web host services.
        p.lead Seek our expert AngularJS development services for your application. Feel free to request a quote, we would be glad to be in touch with you. 


    
  section#node
    .container-fluid
      .jumbotron
        h2.text-center NodeJS Development
      .row
        .col-xl-3.col-md-4.col-12
          img.img-thumbnail(src = '/images/node.png')
        .col-xl-8.col-md-8.col-12
          p.lead Empower your business with highly-scalable, faster, and real-time applications fueled by NodeJS. Oodles Technologies offers world-class NodeJS Development Services for a holistic and feature-rich web development experience.  
          p.lead Nodejs is a powerful backend development framework which allows you to create dynamic page content.  It is an open-source web application framework that facilitates a cross-platform development environment for JavaScript based technologies. Nodejs supports all major operating systems including Windows, Linux, Unix, and Mac OS X. Above all, NodeJS is popular because of its "JavaScript everywhere" paradigm. It enables web application development to be integrated around a single programming language, instead of relying on a different language for writing server-side scripts. 
          p.lead Want to create seamless JavaScript-based websites and web applications for your business? Let’s join hands together. 
          .col-xl-12.col-12 
            h2 What Are The NodeJS Development Services That We Offer?
            ul.lead
              li NodeJS Mobile App Development
              li Back-end Dashboards Development
              li Large Web Application Development
              li NodeJS PLugin Development
              li NodeJS For UI/UX Development
              li NodeJS Integration Solutions
              li NodeJS CMS Development
              li Custom NodeJS Applications Development
              li NodeJS Migration & Consulting
              li E-commerce Website Development
              li NodeJS Server-side Development
              li NodeJS Based API Development & Integration 
          h2 Why Choose Us For NodeJS Development Services?  
          p.lead Genial Info is one of the finest offshore software development companies in India with an excellence in providing Node.js Development Services to the businesses around the globe. We are industry experts in building high-quality web applications using a Node.JS framework. Our team comprises of seasoned experts and certified professionals who make sure that you get value for money in terms of the finest web development services at cost-effective rates. We also nurture some of the most proficient Full Stack Developers that are capable of working on all the MEAN Stack frameworks with a feat in AngularJS and NodeJS. 
          p.lead Nevertheless, we implement proven methodologies in our solutions and offer post-launch support & assistance to our valuable clients for amplified success in the market.


  section#mean
    .container-fluid
      .jumbotron
        h2.text-center MEAN Stack Development
      .row
        .col-xl-3.col-md-4.col-12
          img.img-thumbnail(src = '/images/mean.png' )
        .col-xl-8.col-md-8.col-12
          p.lead MEAN Stack works with clients to significantly enhance productivity and cut down costs. With each project, we use adaptable consultative approach that ensures constructive results. We offer wide range of services like MEAN Stack Application development along with other IT services. MEAN Stack is a new and powerful amalgamation of JavaScript-flavored services, and frameworks that create modern, fast and dynamic web sites. 
          p.lead We have highly skilled MEAN Stack web developer who work on MEAN technology Stack to create some robust MEAN based web applications for our clients.
          
          .col-xl-12.col-12 
            h2 Why choose MEAN Stack ?
            p.lead MEAN stands for MongoDB, Express, AngularJS and Node.js, which is a free open-source solution Stack for creating dynamic websites. MEAN is a full-stack JavaScript platform that is designed for web applications. 
            p.lead MEAN allows you to write code completely in JavaScript, from client to server. This is the feature that makes MEAN a very profitable full-stack option for web pros. It also supports robust design patterns to help escort the architecture.
 
          h2 Plenty of Benefits too
          p.lead Single language is used throughout the application. MEAN Stack supports MVC pattern. Only JSON format is used for sending data. Elements of MEAN are all open-source projects, which means it is absolutely free to use, daily updating, and extremely flexible to both use.
          
          h2 Our Business Drivers:
          ul.lead
            li Robust, and Modern Services.
            li Advanced Technologies For Web App Development.
            li Innovative Development Features.
            li Progressive Approach.
            li Cloud Integration.

       








