extends layouts/default
block prepend link
  - var selected = 'ABOUT US'
block title
  title='Genial Info | terms, terms of service'

block content

  //About Main
  section.hero-term
    .container
     .row
      .col-md-10
        p.text-white.aboutus.animated.fadeInLeft.delay-0.5s  Terms of Services
  
  section.mb-5.pt-5 
    .container.animated.fadeInLeft.delay-0.5s
      .row
        .col-md-10
          h2 Cancellation Policy
          p Under this policy:
          ol
            li  Cancellations will be considered only if the request is made within 12 hours of placing an order. However, the cancellation request will not be entertained if the orders have been communicated to the vendors/merchants/execution team and they have initiated the process of shipping/working on them.
            li There is no cancellation of orders placed under the Same Day Delivery category.
            li No cancellations are entertained for those products/services that the (Company Name) marketing team has obtained on special occasions/events/offers like Month end offers, discount promotions, Diwali, Halloweens, Christmas, New year etc. These are limited occasions/event offers/schemes and therefore, cancellations are not possible.
            li Money once paid will not be returned back in any case even if the cancellation is placed within 12 hours. The money can be adjusted against a future order within 90 days.
            li Any deficiency in service because of any third party like hosting, server, images, content writing etc, wildnet will not be responsible at all. Any efforts Wildnet has to put while coordinating/liaising with them has to be paid as per the standard rate of the company.
            li In case you feel that the product received is not as shown on the site or as per your expectations, you must bring it to the notice of our customer service within 24 hours of receiving the product. The Customer Service Team after looking into your complaint will take an appropriate decision.
          h2 Refund Policy –
          ol
            li When you buy our products/services, due to the nature of business, Wildnet does not offer any money back policy. If you are, for any reason, not entirely happy with your purchase, you must bring it to the notice of our customer service within 24 hours of receiving the product. The Customer Service Team after looking into your complaint will take an appropriate decision.
            li Contact information including email address
            li In case of SEO services, the payment plan is made easy for the customer to make next month payments after reviewing the work/performance of the previous work. Due to the nature of the business, any SEO company including Wildnet can not offer the guarantee of rankings/traffic/sales. By making the next payment/paying for a new project, you are agreeing that you are satisfied with the services delivered till now.
            li In the case of Guaratnteed Moneyback SEO plan, the return policy is different and a separate agreement will need to be placed to qualify for Moneyback. The major conditions for these Guaranteed MoneyBack SEO plans are listed on the MoneyBack SEO Page.
          
          hr.line
        
