doctype html
html.no-js(lang='en, en_US')
  include ../includes/header
  main#main
    section.banner-homepage.d-none.d-sm-block
            .banner-text
             h1| WE &nbsp;  DO
             #myTypewriter.typewriter
               h1 Website Development
    section.banner-mobilepage.d-block.d-sm-none
    block content
.coitainer-fluid
  include ../includes/footer
